@namespace PharmacyManagement.Components.Layout

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">درباره</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    یک خطای غیرمنتظره رخ داده است.
    <a href="" class="reload">بارگذاری مجدد</a>
    <a class="dismiss">🗙</a>
</div>